{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">        
        <title>Clã do Tarot</title>
        {% bootstrap_css %}        
        <link rel="stylesheet" href="{% static 'css/estyle.css' %}">
    </head>
    <body>

        <div class="ClaTarot">
            <figure>
                <img src="{% static 'img/ClaTarot.png' %}" alt="" class="img-fluid">
            </figure>
        </div>
        <div class="CASA_DO_TARÔ"> 
            <h1  class="primeiro">Clã do Tarot</h1>     
            <ul class="lista_inicio">
                {% for pagina in paginas %}
                   <button type="button" class="btn btn-secondary" id="botoes"> <li><a href="{% url pagina %}">{{ pagina }}</a></li> </button>
                {% endfor %}
            </ul>
        </div>

        <p>
            <br>  
        </p>

        <div>
             <h4 class="titulo">
                Bem-vindo ao Clã do Tarot: O Portal para o Autoconhecimento e Transformação!
             </h4>
        <p>
            <br>  
        </p>

        <div class="coruja">
            <figure>
                <img src="{% static 'img/coruja.jpg' %}"  class="img-fluid">
            </figure>
        </div>
        <div class="texto1 col-sm-8  col-lg-6">           
            <p>
            No coração das cartas do tarot, desvendamos os segredos do
            passado, deciframos o presente e desenhamos um vislumbre 
            do futuro. Aqui, no Clã do Tarot, não estamos apenas explorando 
            um oráculo milenar; estamos mergulhando nas profundezas da 
            sabedoria ancestral para trazer clareza e orientação à sua 
            jornada. Somos mais do que um simples site sobre tarot. 
            Somos um clã de buscadores, sonhadores e curiosos, unidos 
            pela fascinação com o desconhecido e pela vontade de explorar 
            as inúmeras camadas da existência. Nossas páginas não são 
            apenas pixels; são portais que o convidam a transcender a 
            realidade cotidiana e a se conectar com energias maiores.
            </p>
        </div>
        
        <div class="texto1 col-sm-8  col-lg-6">           
            <p>
                Cada carta que viramos, cada símbolo que deciframos, 
                é uma oportunidade para desbloquear seu potencial 
                interior e liberar a sabedoria que já existe dentro 
                de você. O tarot é um espelho mágico que reflete suas 
                esperanças, desafios e anseios mais profundos, e estamos 
                aqui para ajudá-lo a interpretar esse reflexo com 
                compaixão e clareza. No Clã do Tarot, não estamos 
                apenas compartilhando conhecimento; estamos construindo 
                uma comunidade vibrante e acolhedora, onde você 
                pode se sentir em casa, cercado por pessoas que 
                entendem e apoiam sua jornada espiritual. Além 
                de explorar nossos recursos, convidamos você a 
                participar de nossas consultas personalizadas, onde 
                nossos leitores experientes estão prontos para oferecer 
                orientação inspirada pelo tarot.              
                Este é mais do que um site; é um 
                convite para a transformação. É um 
                lembrete de que você é parte de algo maior, que suas 
                perguntas têm respostas e que você tem o poder de 
                moldar seu destino. Junte-se ao Clã do Tarot e 
                comece sua jornada de autodescoberta e iluminação.
            </p>
        </div>
        
        <div class="texto1 col-sm-8  col-lg-6">           
            <p>
                Com cartas que revelam, símbolos que falam e intuição que guia,
                A Família Clã do Tarot.
            </p>
        </div>              





         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% bootstrap_javascript jquery='full' %}        
    </body>
</html>