{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>     
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>O Imperador</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/menores.css' %}">
    </head>
    <body>

       <header>
            <div class="ClaTarot">
                <figure>
                  <a href="/"> <img src="{% static 'img/ClaTarot.png' %}" alt="" class="img-fluid"></a>
                </figure>
            </div>
            
            <div class="CASA_DO_TARÔ"> 
               <h1  class="primeiro">O Imperador</h1>     
            <ul class="lista_inicio">
                    {% for pagina in paginas %}
                       <button type="button" class="btn btn-secondary" id="botoes"> <li><a href="{% url pagina %}">{{ pagina }}</a></li> </button>
                    {% endfor %}
                </ul>
            </div>
        </header>
        
        <p>
            <br>  
        </p>

        <div>
            <h4 class="as_titulo">
                O Imperador no Tarot: Autoridade, Poder e Estabilidade
            </h4>
        </div> 
        
        <p>
            <br>  
        </p>

        <div class="img_as_paus1">
            <figure>
                <img src="{% static 'img/Imperador.jpg' %}" alt="O Imperador" class="img-fluid">
                <figcaption> O Imperador</figcaption>
            </figure>
        </div>



        <div>
            <p class="as_texto1">
                O Imperador é uma carta importante e poderosa do Tarot, representando a
                autoridade, o poder e a estabilidade. No Tarot, o Imperador é frequentemente
                retratado como um homem maduro, sentado em um trono, vestido com roupas
                majestosas e segurando um cetro ou um cetro, símbolos de sua autoridade
                e domínio. Essa carta simboliza o aspecto patriarcal do poder, representando 
                a figura do pai ou do líder respeitado. O Imperador personifica a força,
                a coragem e a determinação para enfrentar os desafios da vida. Ele é o
                arquétipo do governante sábio e justo, capaz de tomar decisões racionais
                e responsáveis para o bem de todos. Ao mesmo tempo, o Imperador representa
                a estrutura e a ordem, lembrando-nos da importância da disciplina e do
                planejamento em nossas vidas. Ele nos lembra que, para alcançar nossos
                objetivos, devemos estabelecer bases sólidas e seguir um caminho bem
                definido.
            </p>
        </div>  


        <div>
            <p class="as_texto2">
                Em leituras de tarot, o Imperador pode sugerir a necessidade de assumir a
                responsabilidade por nossas ações e de exercer autoridade sobre nossas vidas.
                Ele nos encoraja a agir com sabedoria, a tomar decisões baseadas em princípios
                sólidos e a enfrentar desafios com determinação e confiança. O Imperador também
                pode representar uma figura de apoio em nossas vidas, alguém que oferece
                orientação e estabilidade. Pode indicar uma figura paterna, um mentor ou
                uma figura de autoridade que exerce uma influência positiva e protetora
                em nossas jornadas. Em suma, o Imperador do Tarot é uma carta que simboliza 
                o poder, a autoridade e a estabilidade. Ele nos lembra da importância de
                exercer o controle sobre nossas vidas, de agir com sabedoria e de 
                estabelecer alicerces sólidos para alcançar nossos objetivos. O Imperador
                é um lembrete do poder interior que possuímos para moldar nossos destinos
                e governar nossas vidas com integridade e responsabilidade.
            </p>
        </div>  
        <div>
            <p class="as_texto3">
                Essa carta é o oposto complementar da carta da Imperatriz, que simboliza a
                energia feminina e a fertilidade. O Imperador, por outro lado, representa a 
                energia masculina e a capacidade de impor ordem e estrutura em todos os aspectos
                da vida. Ele é o protetor, o provedor e o orientador, trazendo estabilidade e
                segurança para aqueles que o cercam. A presença do Imperador em uma leitura de
                tarot sugere a necessidade de assumir responsabilidades, liderar com confiança
                e tomar decisões baseadas na lógica e na razão. Ele nos lembra da importância
                de estabelecer limites e seguir um caminho bem definido para alcançar nossos
                objetivos. O Imperador nos encoraja a agir com determinação e coragem diante
                dos desafios, assumindo a liderança em nossas vidas.
            </p>
        </div>  

<div class="img_as_paus2">
            <figure>
                <img src="{% static 'img/O-Imperador.jpg' %}" alt="O Imperador"class="img-fluid" >
                <figcaption>O Imperador</figcaption>
            </figure>
        </div>

     <div>
         <p class="as_texto4">
            Além disso, o Imperador representa a ordem e a estrutura. Ele nos recorda da 
            importância de estabelecer rotinas e sistemas para alcançar uma vida equilibrada
            e bem-sucedida. Ao trazer organização para nossas vidas, podemos alcançar maior
            estabilidade e sucesso em nossos empreendimentos. No aspecto espiritual, o
            Imperador simboliza a conexão com a sabedoria interior e a intuição. Ele nos
            lembra da importância de ouvir nossa voz interior e seguir nossos valores
            fundamentais. Ao estarmos alinhados com nossa verdadeira essência, podemos
            exercer uma liderança autêntica e inspirar aqueles ao nosso redor. Quando
            encontramos o Imperador em uma leitura de tarot, ele pode também representar
            uma figura paterna, um mentor ou alguém que desempenha um papel de autoridade
            em nossa vida. Essa pessoa pode oferecer orientação, apoio e proteção, 
            ajudando-nos a crescer e a alcançar nossos objetivos com maior confiança. Em
            suma, o Imperador do Tarot é uma carta de poder, autoridade e estabilidade.
            Ele nos lembra da importância de liderar com sabedoria e de estabelecer uma 
            base sólida para nossas vidas. O Imperador nos incentiva a assumir a 
            responsabilidade por nossas ações e a exercer uma liderança firme e justa. 
            Ao abraçar a energia do Imperador, podemos encontrar um equilíbrio entre a lógica
            e a intuição, alcançando maior estabilidade, sucesso e realização em nossa jornada
            pessoal.
        </p>
    </div> 

    
    <div class="dropdown">
        <button class="  ArcanosMaiores btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Arcanos Maiores
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_louco' %}">O Louco</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_mago' %}">O Mago</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_sacerdotisa' %}">A Sacerdotisa</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_imperatriz' %}">A Imperatriz</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_imperador' %}">O Imperador</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_hierofante' %}">O Hierofante</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'os_enamorados' %}">Os Enamorados</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_carro' %}">O Carro</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_justica' %}">A Justiça</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_eremita' %}">O Eremita</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_roda_da_fortuna' %}">A Roda da Fortuna</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_forca' %}">A Força</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_enforcado' %}">O Enforcado</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_morte' %}">A Morte</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_temperanca' %}">A Temperança</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_diabo' %}">O Diabo</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_torre' %}">A Torre</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_estrela' %}">A Estrela</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'a_lua' %}">A Lua</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_sol' %}">O Sol</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_julgamento' %}">O Julgamento</a>
            <a class="dropdown-item" href="{% url 'arcanos_maiores' 'o_mundo' %}">O Mundo</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        
        {% bootstrap_javascript %}
    </body>
</html>