{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>     
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sete de Espadas</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/menores.css' %}">
    </head>
    <body>

       <header>
            <div class="ClaTarot">
                <figure>
                  <a href="/"> <img src="{% static 'img/ClaTarot.png' %}" alt="" class="img-fluid"></a>
                </figure>
            </div>
            
            <div class="CASA_DO_TARÔ"> 
               <h1  class="primeiro">Sete de Espadas</h1>     
            <ul class="lista_inicio">
                    {% for pagina in paginas %}
                       <button type="button" class="btn btn-secondary" id="botoes"> <li><a href="{% url pagina %}">{{ pagina }}</a></li> </button>
                    {% endfor %}
                </ul>
            </div>
        </header>

        <p>
            <br>  
        </p>

        <div>
            <h4 class="as_titulo">
                O Sete de Espadas no Tarot: Engano, Furtividade e Autossabotagem
            </h4>
        </div> 

        <p>
            <br>  
        </p>
        
        <div class="img_as_paus1">
            <figure>
                <img src="{% static 'img/7Espadas.jpg' %}" alt="Sete de Espadas" class="img-fluid">
                <figcaption> Sete de Espadas</figcaption>
            </figure>
        </div>



        <div>
            <p class="as_texto1">
                O Sete de Espadas é uma carta do Tarot que traz consigo uma energia de engano, 
                furtividade e autossabotagem. Representado no baralho de Rider-Waite por uma 
                figura carregando cinco espadas em suas mãos e olhando por cima do ombro, essa 
                carta simboliza a tentativa de obter sucesso através de meios questionáveis ou
                manipuladores. A imagem retrata o Sete de Espadas em um ato de furtividade,
                carregando mais espadas do que deveria, o que sugere uma ação desonesta ou
                um desejo de levar vantagem injustamente. A figura olhando por cima do ombro
                pode indicar o medo de ser pego ou a sensação de culpa por suas ações.
            </p>
        </div>  


        <div>
            <p class="as_texto2">
                Essa carta representa a necessidade de examinarmos nossas motivações e comportamentos
                para garantir que estamos agindo de maneira ética e respeitosa. O Sete de Espadas
                nos alerta para a possibilidade de autossabotagem ou de prejudicarmos a nós mesmos
                ao adotar uma abordagem desonesta ou manipuladora. Ele nos encoraja a sermos
                honestos conosco mesmos e a buscar caminhos mais autênticos e genuínos para
                alcançar nossos objetivos.
            </p>
        </div>  
        <div>
            <p class="as_texto3">
                Além disso, o Sete de Espadas também pode representar a necessidade de estar
                atento às ações de outras pessoas e não ser ingênuo ou facilmente enganado.
                Essa carta nos convida a sermos vigilantes e a proteger nossos interesses,
                evitando sermos vítimas de enganos ou traições. Em leituras de Tarot, o Sete 
                de Espadas pode indicar situações em que a desconfiança ou o engano estão
                presentes. Pode ser um momento propício para sermos cautelosos em nossas
                interações e para evitarmos ser manipulados ou explorados. Essa carta 
                também pode servir como um lembrete para sermos éticos e justos em nossas
                ações, buscando alcançar nossos objetivos de forma honesta e transparente.
            </p>
        </div>  

<div class="img_as_paus2">
            <figure>
                <img src="{% static 'img/7-Espadas.jpg' %}" alt="Sete de Espadas"class="img-fluid" >
                <figcaption> Sete de Espadas</figcaption>
            </figure>
        </div>

        <div>
            <p class="as_texto4">
                Por outro lado, o Sete de Espadas também pode nos alertar para não sermos
                excessivamente desconfiados ou paranoicos em relação aos outros. Ele
                nos convida a encontrar um equilíbrio saudável entre proteger nossos 
                interesses e manter a confiança nas pessoas ao nosso redor. Em resumo,
                o Sete de Espadas no Tarot representa o engano, a furtividade e a
                autossabotagem. É uma carta que nos alerta para sermos honestos conosco 
                mesmos e para buscarmos ações éticas em nossas jornadas. Com a disposição
                de agir de forma transparente e autêntica, podemos evitar situações
                prejudiciais e criar relacionamentos mais genuínos e confiáveis.
            </p>
        </div> 

        <div class="dropdown">
            <button class=" AR btn btn-secondary dropdown-toggle" type="button" id="AR" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                AR
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- Opções do menu AR -->
                <a class="dropdown-item" href="{% url 'carta_espadas' 'as_de_espadas' %}">As de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'dois_de_espadas' %}">Dois de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'tres_de_espadas' %}">Três de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'quatro_de_espadas' %}">Quatro de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'cinco_de_espadas' %}">Cinco de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'seis_de_espadas' %}">Seis de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'sete_de_espadas' %}">Sete de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'oito_de_espadas' %}">Oito de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'nove_de_espadas' %}">Nove de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'dez_de_espadas' %}">Dez de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'pajem_de_espadas' %}">Pajem de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'cavaleiro_de_espadas' %}">Cavaleiro de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'rainha_de_espadas' %}">Rainha de Espadas</a>
                <a class="dropdown-item" href="{% url 'carta_espadas' 'rei_de_espadas' %}">Rei de Espadas</a>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
        {% bootstrap_javascript %}
    </body>
</html>